.layout {
  width: 1380px;
  height: 1970px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1.2fr 3fr;
  margin-top: 0%;
  padding-top: 0%;
  margin-left: auto;
  margin-right: auto;
}

.layoutone {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 4fr 5px 4fr;
  gap: 8px 40px;
  padding-left: 55px;
  padding-right: 55px;
}

#btnCapturar{
  margin-left: auto;
  margin-right: auto;
}
.topborder {
  padding-top: 40px;
}

.div1 {
  background-color: #283a4f;
}

.card1 {
  border: none;
  border-radius: 0px;
  background-color: #283a4f !important;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.card2 {
  background-color: #283a4f;
  text-align: center;
}

.card-img-top {
  border-radius: 50% !important;
}

.div1i {
  color: white;

}

.div2i {
  color: white;
  text-align: initial;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.hr1 {
  color: white;
}

.hr2 {
  height: 2px !important;
  width: 90%;
  background-color: black !important;
  color: black !important;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  opacity: .40;
}

.progress-bar {
  background-color: #717171 !important ;
}

.div2 {
  background-color: #e2e2e2;
}

.card3 {
  padding-left: 40px;
  padding-top: 50px;
  padding-right: 40px;
  background-color: #e2e2e2 !important ;
  border: none !important;
}

.nombre {
  font-size: 35px;
}

.exp {
  margin-bottom: 0px;
}

.exp1 {
  border-right: solid;
}

.mar {
  margin-bottom: 50px;
}

.explab {
  padding-bottom: 20px;
  text-align: center;
}

.card.card1 {
  border: none;
}
.borderone {
  background-color: #283a4f;
}



/* boton de descarga */
/* Derechos a: */
/* From uiverse.io by @barisdogansutcu */


.botones__Descarga{
  display: flex;
}
.botones_Contenedor{
  margin: auto;
}

.download-button {
  position: relative;
  border-width: 0;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border-radius: 4px;
  z-index: 1;
  
 }
 
 .download-button .docs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  min-height: 40px;
  padding: 0 10px;
  border-radius: 4px;
  z-index: 1;
  background-color: #242a35;
  border: solid 1px #e8e8e82d;
  transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
 }
 
 .download-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 }
 
 .download {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
  z-index: -1;
  border-radius: 4px;
  transform: translateY(0%);
  background-color: #283a4f ;
  border: solid 1px #01e0572d;
  transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
 }
 
 .download-button:hover .download {
  transform: translateY(100%)
 }
 
 .download svg polyline,.download svg line {
  animation: docs 1s infinite;
 }
 
 @keyframes docs {
  0% {
   transform: translateY(0%);
  }
 
  50% {
   transform: translateY(-15%);
  }
 
  100% {
   transform: translateY(0%);
  }
 }

